/* ------RESET-------*/
*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
body{
    background-color:#F6F8F9 ;
    font-family: "Roboto", sans-serif;
}
/* ------HEADER----*/
header{
    background-color: #FFFFFF;
    padding: 15px 20px;
}
h1{
    display: inline-block;
    vertical-align: middle;
    font-weight: 800;
    font-size: 45px;
}
.logo{
    vertical-align: middle;
}

/*-------MAIN----*/
div{
    background-color:#FFFFFF;
    width: 800px;
    height: 60px;
    margin: 40px auto;
    border-radius: 10px;
    padding-bottom: 2px;

}
button{
    background-color: transparent;
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
    margin-top: 14px;
    margin-left: 21px;
}
.btn-blue{
    background-color: #14AAF5;
    color: #FFFFFF;
    border-color: #14AAF5;

}
.btn-grey{
    border-color: #C4CBD0;
    color:#C4CBD0;
}

/*------MAIN SECTION*/
main{
    background-color:#FFFFFF;
    width: 800px;
    height: 530px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: -35px;
}


.sctn{
    margin-left: 50px;
    padding-top: 35px;
}
/*----LIST*/
li{
    list-style: none;
}
#spazio{
    margin-bottom: 10px;
}
h3{
    margin-bottom: 10px;
}

/*-------TAG BASE TAG COLOR------------*/

.tag-base{
    display: inline-block;
    background-color: transparent;
    padding: 6px 10px;
    margin-left: 5px;
    border-radius:15px;
    color: #FFFFFF;
    font-size: 12px;
    margin-bottom: 10px;
}
.tg-blue{
    background-color: #14AAF5;
}
.tg-purp{
    background-color: #ab5de6;
}
.tg-verde{
    background-color: #2CC6AB;
}
.tg-aran{
    background-color: #FF9B00
}
.tg-fuxia{
    background-color: #EC4A9D
}
.tg-lime{
    background-color: #A3D116
}

   
/*-----CIRCLE CHECK CROSS-------*/
.circle{
    display: inline-block;
    background-color: transparent;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 10px;
    text-align: center;
    align-content: center;
}
.circ-green{
    border-color: #2CC6AB;
    color: #2CC6AB;
} 
.circ-red{
border-color: red;
color: red;
}
